@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Staatliches&display=swap');

* {box-sizing: border-box;}

html, body{height: auto; color: #e0e0e0;}
#root, main {height: auto;}

body {
  background: #171a20;
}

main {
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  overflow: auto;
}

.banner {
  background: rgba(255, 255, 255, 0.05);
  padding: 2vh;
  width: 100%;
  font-size: 4vh;
}

.main-header {
  font-size: 8vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

main > div {
  height: 100%;
  width: 50%;
}

.text-con {
  padding: 16vh 8vh;
  position: fixed;
  right: 0;
}

.text {}

.description {
  margin-top: 4vh;
  color: #a0a0a0;
}

.my-name {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: #83cafc;
  display: flex;
  align-items: center;
  margin-left: 2vh;
}

.pseudo-img {
  border: 1px solid gray;
  height: 100vh;
  width: 100%;
  display: flex;
  background: #303030;
  justify-content: center;
  align-items: center;
}

footer {
  background: #202020;
  box-shadow: 0 1px 5px 3px black;
  z-index: 10;
  padding: 20px;
  height: auto;
}

h1 {margin: 0;}

::-webkit-scrollbar {
  background: transparent;
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  border: 3px solid #171a20;
}