@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Staatliches&display=swap');

* {box-sizing: border-box;}

html, body{height: auto; color: #e0e0e0;}
#root, main {height: auto;}

body {
  background: #171a20;
}

main {
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  overflow: auto;
}

.banner {
    background: rgba(255, 255, 255, 0.05);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
}

.links {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2vh;
}

.links a {
    margin-left: 2vh;
    height: 100%;
}

.links a:hover {
    border-bottom: 2px solid #98ff98;
    border-top:  2px solid #98ff98;
}

.primary-link {
    transition: color 0.25s, border 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-link span {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    padding: 0.5vh 2vh 1vh 2vh;
}

.primary-link:hover {border-color: #98ff98;}
.primary-link:hover span {}

a {
    cursor: pointer;
    color: #a0a0a0;
    display: flex;
    align-items: center;
    transition: all 0.25s;
    text-decoration: none;
}

a:hover {
    color: #98ff98;
}

.banner > img {
    margin: 2vh;
    height: 60%;
    width: auto;
    cursor: pointer;
}

.main-header {
  font-size: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  height: 100%;
  width: 50%;
}

.text-con {
  padding: 16vh 8vh;
  position: fixed;
  right: 0;
}

.text {}

.description {
    margin-top: 4vh;
    color: #a0a0a0;
    font-size: 3vh;
}

.my-name {
  text-transform: capitalize;
  color: #83cafc;
  display: flex;
  align-items: center;
  margin-left: 2vh;
}

.pseudo-img {
  border: 1px solid gray;
  height: 90vh;
  width: 100%;
  display: flex;
  background: #303030;
  justify-content: center;
  align-items: center;
}

footer {
  background: #202020;
  box-shadow: 0 1px 5px 3px black;
  z-index: 10;
  padding: 20px;
  height: auto;
}

h1 {margin: 0;}

.scroll {
    position: fixed;
    width: 100%;
    height: 15vh;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.scroll.hide {
    transform: translateY(12vh);
}

.scroll img {
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}

.scroll-badge {
    background: #666;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.2);
}

.scroll-ripple {
    position: absolute;
    animation: ripple 2s infinite;
    background: #666;
    width: 12vh;
    height: 12vh;
    z-index: -1;
    border-radius: 50%;
}

@keyframes ripple {
    from {transform: scale(0); opacity: 1;}
    to {transform: scale(1); opacity: 0;}
}

::-webkit-scrollbar {
  background: transparent;
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  border: 3px solid #171a20;
}

.text-line {
    stroke-dasharray: 500;
    width: 50vh;
    stroke-dashoffset: 0;
}

.text-line.animate {
    animation: dash 9s ease-out forwards, filling 1.25s ease-out forwards;
}

.text-line.fadeOut {
    opacity: 0;
    transition: all 1s;
}

@keyframes dash {
    0% {stroke-dashoffset: 500;}
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes filling {
  from {fill-opacity: 0; }
  to { fill: #83cafc; fill-opacity: 1; }
}