@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Staatliches&display=swap');

* {box-sizing: border-box;}

html, body, #root, main {height: 100%;}

body {
  background: #171a20;
}

main {
  color: #e0e0e0;
  font-family: 'Lexend Deca', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-header {
  font-size: 8vh;
}

main > div {
  height: 100%;
}

.left {
  padding: 5vh;
}

.my-name {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: #83cafc;
}

.pseudo-img {
  border: 1px solid gray;
  height: 100%;
  width: 100%;
  display: flex;
  background: #303030;
  justify-content: center;
  align-items: center;
}